
/* reset styles */
* {
  color: inherit;
  margin: 0;
overflow-x: hidden;
}

body {
  font-family: Poppins;
}

ul  li{
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

