
* {
	color: inherit;
	margin: 0;
	overflow-x: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	font-family: Poppins;
	margin: 0 auto;
	max-width: 1440px;
	
}

ul li {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
