@use '../../src/variables-functions' as *;
@use '../../src/base';

.footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0a0024;
  color: $text-white;
  padding: 3em 0.5em;
  border-radius: 15px;

  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;

    &-item {
      padding: 0 1em;
      margin: 0 0.5em;
      min-width: 290px;
      max-width: 30%;

      &-title {
        font-size: 1.5em;
        font-weight: 600;
        padding: 0.5em 0;
      }
      &-descr {
        font-size: 1em;
        font-weight: 500;
        padding: 1em 0;
        color: #b0b0b0b9;
      }

      &-link {
        gap: 0.5em;
        font-size: 1em;
        font-weight: 500;
        padding: 0.5em 0;
        color: #b0b0b0b9;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $text-white;
        }
      }
      &-btn {
        padding: 1rem;
        background: #572361;
        background: r rgba(87, 35, 97, 0.702) 0%;
        border: none;
        border-radius: 10px;
        color: $text-white;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: rgb(55, 14, 63);
        }
      }
    }
  }
  &-line {
    width: 100%;
    height: 1px;
    background: #b0b0b0b9;
    margin: 2em 0;
  }
  &-copyright {
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #b0b0b0b9;
  }
}
