@use '../../src/variables-functions' as *;
@use '../../src/base';
@use './header-animations' as *;



.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.sticky {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 1em;
  gap: 1em;
  border: 2px solid #35414d65;
  animation: slide-in 3s cubic-bezier(0.22, 1, 0.36, 1) forwards,
    header-scale linear both;
  animation-timeline: auto, scroll();
  animation-range: normal, 0px 500px;

  &-icon {
    width: 3em;
    height: 3em;
    padding-right: 0.5em;
    animation: book-spin 2s linear infinite;
  }

  &-title {
    font-weight: 900;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    color: $text-black;
    padding: 0 1em 0 0;
  }

  &-description {
    font-size: clamp(0.5em, 5vw, 1.2em);
    font-weight: 600;
    color: $text-grey;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
