@use '../../src/variables-functions' as *;
@use '../../src/base';
@use './header-animations' as *;
.sticky {
	animation: slideUp 1s cubic-bezier(0.4, 0, 0.2, 1);

	& {
		background-color: rgb(243 249 255 / 80%);
		position: fixed;
		top: 0;
		width: 100%;
		height: 7em;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
		border-bottom: 2px solid #35414d65;
		margin-bottom: 1em;
		padding: 1em;
		z-index: 100;
	}

	&-icon {
		width: 3em;
		height: 3em;
		opacity: 1;
		margin-right: 0.5em;
		animation: book-spin 2s linear infinite;
	}

	&-title {
		font-weight: 900;
		font-size: clamp(1rem, 5vw, 3rem);
		color: $text-black;
		padding: 0 1em 0 0;
		opacity: 1;
	}

	&-description {
		font-size: clamp(0.5em, 5vw, 1.1em);
		font-weight: 600;
		margin-top: 0.5em;
		margin-bottom: 1em;
		color: $text-grey;
		opacity: 1;
		padding: 0 1em 0 0;
	}
}
