@use 'header-animations' as *;
@use '../../src/variables-functions' as *;
@use '../../src/base';

.sticky {
	& {
		position: fixed;
		top: 0;
		width: 100%;
		height: 7em;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
		opacity: 0.7;
		border: 2px solid #1f93ff5d;
		margin-bottom: 1em;
		padding: 0.5rem;
	}
	&-icon {
		width: 2em;
		height: 2em;
		opacity: 1;
		margin-right: 0.5em;
		animation: book-spin 2s linear infinite;
	}

	&-title {
		font-weight: 900;
		font-size: clamp(0.5em, 1em, 1.5em);
		color: $text-black;
		opacity: 1;
	}

	&-description {
		font-size: 1rem;
		font-weight: 600;
		margin-top: 0.5em;
		margin-bottom: 1em;
		color: $text-grey;
		opacity: 1;
	}
}
