@use '../../src/variables-functions' as *;
@use '../../src/base';
@use './header-animations' as *;


.header-line {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;

	background: #e01488;
	background: linear-gradient(
		90deg,
		rgba(224, 20, 136, 1) 0%,
		rgba(165, 61, 179, 1) 15%,
		rgba(170, 52, 194, 1) 30%,
		rgba(103, 65, 191, 1) 45%,
		rgba(70, 95, 163, 1) 59%,
		rgba(42, 145, 168, 1) 75%,
		rgba(68, 179, 136, 1) 90%,
		rgba(16, 107, 21, 1) 100%
	);

	animation-name: stick-scale;
	animation-timing-function: linear;
	animation-timeline: scroll();
}

.sticky {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	height: 7em;
	padding: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	border: 2px solid #35414d65;

	opacity: 0;
	animation: slide-in 3s cubic-bezier(0.22, 1, 0.36, 1) forwards,
		header-scale linear both;

	animation-timeline: auto, scroll();
	animation-range: normal, 0px 500px;

	&-icon {
		width: 3em;
		height: 3em;
		padding-right: 0.5em;
		animation: book-spin 2s linear infinite;
	}

	&-title {
		font-weight: 900;
		font-size: clamp(0.8rem, 5vw, 1.5rem);
		color: $text-black;
		padding: 0 1em 0 0;
	}

	&-description {
		font-size: clamp(0.5em, 5vw, 1.2em);
		font-weight: 600;
		color: $text-grey;
		margin-top: 0.5em;
		margin-bottom: 1em;
	}
}
