@use '../../src/variables-functions' as *;
@use '../../src/base';

.about-scss {
	margin: 5rem 2rem 0 2rem;
}

.scss-description {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 3rem 0 1rem 1rem;
	&-icon {
		height: 1.5rem;
		width: 1.5rem;
		margin: 10px;
	}
	&-title {
		font-size: 1rem;
		font-weight: inherit;
	}
}

.table-scss {
	margin: 1rem 0.5rem;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 2px 5px 0px rgb(0 0 0);

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
		table-layout: fixed;
		min-width: 800px;
		thead {
			background-color: #000;
			color: #fff;

			.table-scss-notes {
				color: white;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				&:first-child {
					text-align: left;
					padding-left: 2rem;
				}
				&:last-child {
					text-align: left;
					padding-left: 1rem;
				}
			}
			th {
				padding: 1rem;
			}
		}

		tbody {
			td {
				padding: 1.5rem 1rem;
				vertical-align: middle;

				&:nth-child(2),
				&:nth-child(3) {
					text-align: center;
				}
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}

		tfoot {
			td {
				padding: 1.5rem;
				color: rgb(55 47 47 / 83%);
				font-size: clamp(0.8rem, 5vw, 1rem);
				font-weight: 600;

				span {
					font-size: clamp(0.8rem, 5vw, 1rem);
					font-weight: 700;
					color: #000000b8;
				}
			}
		}

		&-feature {
			width: 25%;
			font-size: clamp(0.8rem, 5vw, 1.5rem);
			font-weight: 500;
			text-align: left;
			padding: 2rem;
		}
		&-check {
			height: 2.5rem;
			width: 2.5rem;
			box-shadow: inset 0 0 10px 9px rgb(123 183 126 / 50%);
			border-radius: 50%;
		}
		&-reject {
			color: #e81010;
			height: 2rem;
			width: 2rem;
			box-shadow: inset 0 0 10px 9px rgba(208, 148, 130, 0.5);
			border-radius: 50%;
		}
		&-limited {
			color: #e87110;
		}

		&-notes {
			padding-left: 1rem;
			font-size: clamp(0.8rem, 5vw, 1rem);
			font-weight: 500;
			color: #5a5757;
			&-span {
				font-size: clamp(0.8rem, 5vw, 1rem);
				font-weight: 400;
				color: #005dfde8;
			}
		}
	}

	&-feature {
		width: 20%;
		font-size: clamp(0.8rem, 5vw, 1rem);
		font-weight: 500;
		text-align: left;
		padding: 2rem;
	}
	&-check {
		display: flex;
		height: 2rem;
		width: 2rem;
		box-shadow: inset 0 0 10px 9px rgb(123 183 126 / 50%);
		border-radius: 50%;
	}
	&-reject {
		color: #e81010;
		height: 2rem;
		width: 2rem;
		box-shadow: inset 0 0 10px 9px rgba(208, 148, 130, 0.5);
		border-radius: 50%;
	}
	&-limited {	
		color: #e87110;
	}

	&-notes {
		padding-left: 1rem;
		font-size: clamp(0.8rem, 5vw, 1rem);
		font-weight: 500;
		color: #5a5757;
		&-span {
			font-size: clamp(0.8rem, 5vw, 1rem);
			font-weight: 400;
			color: #005dfde8;
		}
	}
	
}


