@use '../../src/base';
@use '../../src/variables-functions' as *;
@use './topics-animation' as *;

.topics-description {
  margin: 0.5rem;
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  font-weight: 600;
  color: $text-black;

  &-title {
    margin: 0.5rem 0;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    font-weight: 600;
    color: $text-black;
  }
  &-descr {
    margin: 0.5rem 0;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    font-weight: 600;
    color: $text-grey;
  }
}

.topics-list {
  margin: 3rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  &-item {
    max-width: 335px;
    height: auto;
    gap: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-10px);
    }
    &-icon {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      &:hover {
        animation: rotate 0.5s ease-in-out;
      }
    }
    &-title {
      font-size: clamp(0.8rem, 5vw, 1.5rem);
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    &-descr {
      font-size: clamp(0.6rem, 5vw, 1.3rem);
      font-weight: 300;
      color: $text-grey;
      margin-bottom: 0.5rem;
    }
    &-btn {
      padding: 0;
      margin-bottom: 0.5rem;
      border: none;
      color: $text-grey;
      font-size: clamp(0.6rem, 5vw, 1.3rem);
      font-weight: 300;
    }
  }
}

