@use '../../src/base';
@use '../../src/variables-functions' as *;
@use './timeline-animation.scss' as *;

.timeline {
	position: relative;
	min-height: 100%;
	margin: 5px;
	padding: 30px 16px;
	box-shadow: 0 10px 10px 3px rgb(0 0 0 / 26%);
	border-radius: 0 0 1rem 1rem;

	&-title {
		color: $text-black;
		font-size: clamp(1.2rem, 5vw, 3rem);
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		margin: 2rem 0.5rem;
	}

	&-line {
		position: absolute;
		top: 120px;
		bottom: 30px;
		left: 3em;
		width: 5px;
		background: #e01488;
		background: linear-gradient(
			180deg,
			rgba(224, 20, 136, 1) 0%,
			rgba(165, 61, 179, 1) 15%,
			rgba(170, 52, 194, 1) 30%,
			rgba(103, 65, 191, 1) 45%,
			rgba(70, 95, 163, 1) 60%,
			rgba(42, 145, 168, 1) 75%,
			rgba(68, 179, 136, 1) 90%,
			rgba(16, 107, 21, 1) 100%
		);
	}

	&-item {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		margin-bottom: 1rem;
		padding: 0 1rem 1rem 1rem;

		&-icon {
			position: relative;
			z-index: 1;
			left: -1rem;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			border-radius: 50%;
			flex-shrink: 0;
			&:hover {
				animation: spin 0.5s linear;
			}
		}
		&-content {
			&__animation {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 1rem;
				margin-left: 1rem;
				width: 100%;
				transition: transform 0.3s ease-in-out;
				&:hover {
					transform: translateX(10px);
				}
			}
			&-date {
				font-size: clamp(0.8rem, 5vw, 1.5rem);
				font-weight: 600;
				color: $text-grey;
			}
			&-title {
				font-size: clamp(1rem, 5vw, 2rem);
				font-weight: 600;
				color: $text-black;
				padding-right: 0.5em;
				margin-top: 0.5rem;
			}
		}
		&-number {
			font-weight: 600;
			color: $text-black;
			font-size: clamp(0.5rem, 5vw, 2rem);
			position: relative;
			right: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			height: clamp(2rem, 7vw, 4rem);
			width: clamp(2rem, 7vw, 4rem);
			border-radius: 50%;
			box-shadow: inset 0px 0px 5px 0px rgb(57 40 40 / 34%);
		}
	}
}
