@use '../../src/variables-functions' as *;
@use '../../src/base';
@use './welcome-animation' as *;

.welcome {
	animation: zoomIn 0.5s linear forwards;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 10rem 1rem;
	background: $gradient-blue;
	padding: 2rem 1rem;
	border-radius: 1.5rem;
	color: $text-white;

	.bubble {
		position: absolute;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 50%;
		filter: blur(-1px);
		opacity: 0;
		animation: move-right infinite linear;

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				$size: random(10) + 2 + px;
				width: $size;
				height: $size;
				top: random(30) + px;
				left: random(60) + px;
				animation-duration: random(3) + 2 + s;
				animation-delay: random(1) + s;
			}
		}
	}

	&-title {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}

	&-description {
		max-width: 41rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 1.5rem;
	}

	&-buttons {
		color: #fff;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 1.5rem;
		flex-direction: row;
		align-content: center;
		justify-content: flex-start;
		gap: 0.5em;

		&-btn {
			background-color: rgb(255 255 255 / 10%);
			box-shadow: inset 0 0 13px 5px rgb(255 255 255 / 27%);
			cursor: text;
			width: 20ch;
			padding: 0.3em;
			border-radius: 2rem;
			border: none;
		}
	}
}


@keyframes zoomIn {
  0% {
    opacity: 0;

    transform: scale(0.3); 
  }
  100% {
    opacity: 1;

    transform: scale(1);
  }
}